html{
	height: 100%;
}
body{
	background: url('../ressources/background/allevard.jpg') no-repeat left top fixed;
	background-size: cover;	
	height: 100%;
}
footer, header {
	/*margin-top: -20px;*/
	position: relative;
	height:130px;
	background: rgba(20,100,120,0.9);
}

footer{
	height: 50px;
}
header section#user{
    width:300px;
	float: right;
	padding: 7px;
}
header section#user span{
    position : static;
}
video{
	max-width: 100%;
}
header img.logo{
	height: 150px;
}

.navbar{
	margin-bottom: 0px;
	min-height: auto;
	border: 2px solid white;
}

.locales{
	position: absolute;
	top: 0;
	left: 0;
}

.locales img{
	height : 20px;
	vertical-align : top;
}

.content{
	height: auto;
	background-color: rgba(255,255,255,0.7);
}

div.bg{	
	position: fixed;
	top: 0;
	left: 0;
	right:0;
	bottom: 0;
	background: url('../ressources/background/diag.png') fixed;
}

section#content{
	margin-bottom: 20px;
}

.dropdown-menu{
	width:100%;
}

.video-center{
	display:block;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.separation{
	padding-top: 5px;
}

/*
*	Utilisé dans les formulaires réalisé par moi (Philippe) afin 
*	de ne pas coller le bouton de validation du formulaire avec les champs.
*/
.space-submit
{
	margin-top: 5%;

}

.image-reserv{
	padding:0px!important;
	width: auto;
	height: auto;
}

.no-padding{
	padding:0px!important;
}

.no-margin{
	margin:0px!important;
}

.max-height{
	height: m;
}

.glyph-note{
	color: #FF8000;
	font-size: 80%;
}

.prix{
	color: #01DF01;
	text-align: center;
	vertical-align: middle;	
	font-size: 200%;
}

.prix-td{
	width: 25%;
}

.hotels img{
    width: 100%;
    max-width: 250px;
}

#panier{
	font-style: bold;
}

#article div{
	border: 1px solid black;
	position: relative;
}

.panier{
	width: 100%;
    max-width: 250px;
}

.panier th{
	text-align: center;
}

div.container-fluid{
	height: auto;
}

div.container-fluid div.row{
	height: 100%;
}

nav div ul:first-child > li > a {
	margin-left : 4px;
	margin-right : 4px;
	background-color : powderblue;
};

nav div ul:first-child > li:first-child a{
	background-color : #337AB7;
}

header h1 {
	display: inline;
	font-family: "Comic Sans MS";
	color: ivory;
	font-size: 45px;
}

.page-header {
	margin : 0px;
	border-width : 0px;
}

.panel {
	margin-bottom: 0px;
}

.form-group {
	margin-bottom : 10px;
}

.btn {
	margin-bottom: 5px;
}

.label {
	padding : 0px;
	margin  : 0px 3px;
}

.filter {
	padding : 5px;
}

.advanced {
	margin : 4px 0px;
}

.list-group {
	margin : 0px;
}

.inline {
	display : inline;
}
.collapse.in {
  display: inline;
}
.collapsing {
  display: inline;
}

.Star {
	font-size : 20px;
}

#nb_offer {
	width : 50px;
}