<div class="row">
	<div class="col-md-3">
	</div>
	<div class="col-md-6">
		<h1 class="text-center">{{h1}}</h1>
		<div class="alert alert-info">
			<a href="#" class="close" data-dismiss="alert">&times;</a>
				[[N'hésitez pas à donner le maximum d'information sur votre problème.]]<br/>
				[[Pour toutes questions, merci d'être clair et précis.]]
		</div>
		<form method="POST" action="#" class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-3" for="label-mail">[[Votre adresse e-mail]]</label>
				<div class="col-sm-9">
					<div class="input-group">
						<span class="input-group-addon">@</span>
						<input type="text" class="form-control" name="email" id="label-mail" placeholder="[[Pour que nous puissions vous répondre...]]">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3" for="label-sujet">[[Sujet]]</label>
				<div class="col-sm-9">
					<div class="input-group">
						<span class="input-group-addon glyphicon glyphicon-envelope"></span>
						<input type="text" class="form-control" name="email" id="label-sujet" placeholder="[[Indiquez le sujet !]]">
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-12">
					<div class="input-group">
						<span class="input-group-addon glyphicon glyphicon-envelope"></span>
						<textarea type="text" class="form-control" name="email" id="label-sujet" rows="8" placeholder="[[Ecrivez votre message ici...]]"></textarea>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-4"></div>
				<div class="col-md-3">
				<button type="button" class="btn btn-default btn-lg">
					<span class="glyphicon glyphicon glyphicon-ok-sign"></span> [[Envoyer]] 
				</button>
				</div>
				<div class="col-md-4"></div>
			</div>
		</form>
	</div>
	<div class="col-md-3">

	</div>
</div>