<div class="page-header">
<h1 class="text-center">[[La région]]</h1>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <strong>Allevard</strong> est située dans le massif de Belledonne entre Chambéry (40 km) et Grenoble (38 km). Le Bréda, un torrent de montagne qui traverse la commune, est en partie capté pour produire de l'électricité.
    </div>
</div>

<br />

<div class="panel panel-default">

    <div class="panel-heading"><h3>Cure thermale</h3></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <p>Les premières cures thermales soufrées se sont déroulées à partir de 1813, mais surtout dès 1848 sous la férule du docteur Bernard Niepce, inspecteur des eaux... Les thermes furent exploités successivement, à l'origine, par Pierre Villiot, puis par la famille Bouvret-Rocour et associés, et, à partir de 1882, par la Compagnie Générale des Eaux minérales et Bains de Mer jusqu'à leur rachat en 1997 par la municipalité et à l'exploitation par une SAEM Thermale. L'activité se développe aujourd'hui dans un magnifique parc arboré, ceint de trois établissements typiques des architectures thermales depuis les années 1890 jusqu'en 1995. Le bâtiment Niepce (1894) abrite l'activité « voies respiratoires » ; le bâtiment Villiot (1992) reçoit les patients en rhumatologie ; le bâtiment Chardon (1955) est actuellement sans usage thermal.</p>
                <ul>
                    <li>Rhumatologie et traumatismes ostéo-articulaires</li>
                    <li>Voies respiratoires (ORL)</li>
                </ul>
            </div>
            <div class="col-md-4">
                <img src="ressources/images/cure_thermale.png" class="img-responsive"/>
            </div>
        </div>
    </div>
</div>

<br />

<div class="panel panel-default">
    <div class="panel-heading"><h3>Station de sports d'hiver</h3></div>
     <div class="panel-body">
        <p>La commune possède une station de ski, le Collet d'Allevard, située à 10 km de la ville (30 minutes). L'altitude des pistes varie de 1 450 m à 2 100 m. La station comporte 35 km de pistes : 7 vertes, 6 bleues, 5 rouges et 3 noires.</p>
        <p>
        Créée en 1955 sur d'anciens pâturages communaux réservés à l'estive des troupeaux collectifs de la communauté d'Allevard, desservie par une nouvelle route empruntant le tracé de l'ancienne route forestière à travers les parcelles privées et l'ancienne forêt delphinale puis royale, elle a atteint sa taille actuelle en 1975, les aménagements ultérieurs ayant avant tout consisté à améliorer le domaine existant.</p>

        <p>Particularités intéressantes, qui lui confèrent un grand intérêt pour ceux qui s'y rendent :</p>
        <ul>
            <li>sa position en balcon, qui lui permet d'offrir un panorama à 360° avec notamment le Mont Blanc au nord-est et le Mont Aiguille au sud.</li>

            <li>quatre secteurs très différents (orientation, végétation, altitude) :
                <ul><li>Malatrait (SW, 1450~1750)</li>
                <li>Fontaineterre (NNW, combe, 1500~1750)</li>
                <li>Prérond (N, 1550~2000)</li>
                <li>Le Super Collet / les Plagnes (S/NW, 1550~2100)</li></ul>
                </li>
        </ul>
        <p>
        Equipements à ce jour :
        </p>
        <ul><li>
            2 télésièges à pinces fixes 4 places et tapis d'embarquement de marque SKIRAIL (Les Tufs en 2002, le Grand Collet en 2005)</li>

            <li>1 télésiège à pinces fixes 4 places de marque POMA (Grand Paul 1987)</li>

            <li>1 télésiège à pinces fixes 3 places de marque POMA (Les Plagnes 1975)</li>

            <li>4 téléskis à perches débrayables de marques POMA et MONTAZ (Les Lacs I & II 1975-1976, le Soleil 1981, Prérond 2006)</li>

            <li>1 téléski à perches fixes de marque DOPPELMAYR (Marmottes en 2006)</li>

            <li>2 téléskis enfants de marque POMA (Bambins en 2004 et Malatrait en 20??)</li>

            <li>1 tapis roulant (tapetto en 2005)</li>
        </ul>
        <p>
        Autre particularité : le Collet d'Allevard est un site de parapente de tout premier ordre, notamment avec ses 4 décollages officiels (Malatrait, Clos des Gentianes, Prérond et Plagnes), proposant tous une orientation différente.
        </p><p>
        Enfin, le Collet d'Allevard propose un des plus grands domaines skiables nocturnes d'Europe (couvrant les secteurs de Malatrait et Fontaineterre).</p>
    </div>
</div>

<br />

<div class="panel panel-default">
    <div class="panel-heading"><h3>Casino</h3></div>
    <div class="panel-body">
        <p>Conformément à la législation de 1907 sur les casinos et salles de jeux, la municipalité d'Allevard va autoriser l'ouverture d'un établissement en mai 1909. Une société fermière dite "du Casino d'Allevard-les-Bains" se constitue à cette époque pour son exploitation. En 1925, l'architecte Guénard procède à une refonte totale du bâtiment et à sa décoration originale. Les curistes y retrouvent tous les divertissements classiques de ce genre d'établissement (boule, roulette, baccarat et petit théâtre). Le nouveau casino d'Allevard a ouvert en 1994 et a changé de propriétaire en 2000.</p>
    </div>
</div>

<br />

<div class="panel panel-default">
    <div class="panel-heading"><h3>Sports</h3></div>
    <div class="panel-body">
        <ul>
            <li>TTG Tennis de Table du Grésivaudan, club de Tennis de table des communes du Touvet, Allevard, La Terrasse et Lumbin</li>
            <li>SCA, ski club allevardin</li>
            <li>Volley Ball Allevard, club de volley-ball du Pays d'Allevard</li>
            <li>Station du Collet d'Allevard</li>
        </ul>
    </div>
</div>

</div>