<span id="{{value}}Own" class="label label-{{type_filtre}}" value="{{score}}">
	<span id="{{value}}Sign" class="glyphicon glyphicon-{{sign_filtre}} signComp" aria-hidden="true" value="{{value}}"></span>
	<input id="{{value}}Var" type="hidden" name="owner[]" value="{{value}}"/> {{word_filtre}}
	<span class="glyphicon glyphicon-remove-sign removeComp" aria-hidden="true" value="{{value}}"></span>
</span>
