<div class="panel panel-default">
  <div class="panel-heading">
  	<label>[[Etablissements/marques]]</label>
  </div>
  <div class="panel-body filter">
  	<div id="chosenOwn">
		{{list_owners}}
	</div>
	<div>
		{{others_owners}}
	</div>
  </div>
</div>

<script type="text/javascript">
	$(".removeComp").click( function() {
		var id = $(this).attr("value");
		$('#'+id+'Var').attr("disabled",true);
		$('#'+id+'Own').hide();
		if($('#'+id+'Own').attr("value")<=2) {
			if($("#defaultOwn").find("#"+id+'Def').length!=0) {
				$("#"+id+'Def').show(0);
			} else {
				var res ='<span id="'+id+'Def" class="label label-default">'+$("#"+id+"Own").text()+'<span class="glyphicon glyphicon-plus-sign plusDef" value="'+id+'" aria-hidden="true"></span><span class="glyphicon glyphicon-minus-sign minusDef" value="'+id+'" aria-hidden="true"></span></span>';
				$("#defaultOwn").html($("#defaultOwn").html()+res);
			}
			
		}
	});
	$(".signComp").click( function() {
		var id = $(this).attr("value");
		$('#'+id+'Sign').toggleClass("glyphicon-minus").toggleClass("glyphicon-plus");
		$('#'+id+'Own').toggleClass("label-success").toggleClass("label-danger");
		$('#'+id+'Var').attr("value", -$('#'+id+'Var').attr("value"));
	});
	$(".signDef").click( function() {
		var id = Math.abs($(this).attr("value"));
		var plus = "plus";
		var success = "success"
		if($(this).attr("value")<0){
			plus="minus";
			success = "danger";
		}
		$("#"+id+"Def").hide();
		if($("#chosenOwn").find("#"+id+'Own').length!=0) {
			$("#"+id+'Own').show(0);
			if($('#'+id+'Var').attr("value")!=$(this).attr("value")){
				$('#'+id+'Sign').toggleClass("glyphicon-minus").toggleClass("glyphicon-plus");
				$('#'+id+'Own').toggleClass("label-success").toggleClass("label-danger");
				$('#'+id+'Var').attr("value", -$('#'+id+'Var').attr("value"));
				$('#'+id+'Var').attr("disabled",false);
			}
		} else {
			var res = '<span id="'+id+'Own" class="label label-'+success+'" value="0"><span id="'+id+'Sign" class="glyphicon glyphicon-'+plus+' signComp" aria-hidden="true" value="'+id+'"></span><input id="'+id+'Var" type="hidden" name="owner[]" value="'+id+'"/>'+$("#"+id+"Def").text()+'<span class="glyphicon glyphicon-remove-sign removeComp" aria-hidden="true" value="'+id+'"></span></span>';
			$("#chosenOwn").html($("#chosenOwn").html()+res);
		}

	});
</script>