<span id="{{value}}Def" class="label label-default">
	{{word_filtre}}
	<span class="glyphicon glyphicon-plus-sign signDef" value="{{value}}" aria-hidden="true"></span>
	<span class="glyphicon glyphicon-minus-sign signDef" value="-{{value}}" aria-hidden="true"></span>
</span>
