<span id="{{id}}Fil" class="label label-{{type_filtre}}">
	<span id="{{id}}FilSign" class="glyphicon glyphicon-{{sign_filtre}} signFiltre" value="{{id}}" aria-hidden="true"></span>
	<input id="{{id}}FilVar" type="hidden" name="request[]" value="{{value}}"/>
	{{word_filtre}}
	<span class="glyphicon glyphicon-remove-sign removeFiltre" value="{{id}}" aria-hidden="true"></span>
</span>
