<div class="panel panel-default">
  <div class="panel-heading">
  	<label>[[Filtre(s)]]</label>
  	<span class="glyphicon glyphicon-remove-sign pull-right" aria-hidden="true"></span>
  </div>
  <div class="panel-body filter">
    {{list_filtre}}
  </div>
</div>


<script type="text/javascript">
	$(".removeFiltre").click( function() {
		var id = $(this).attr("value");
		$('#'+id+'FilVar').attr("disabled", true);
		$('#'+id+'Fil').hide();
	});
	$(".signFiltre").click( function() {
		var id = $(this).attr("value");
		$('#'+id+'FilSign').toggleClass("glyphicon-minus").toggleClass("glyphicon-plus");
		$('#'+id+'Fil').toggleClass("label-success").toggleClass("label-danger");
		if($('#'+id+'FilVar').attr("value")[0]=="-") {
			$('#'+id+'FilVar').attr("value", $('#'+id+'FilVar').attr("value").substring(1));
		} else {
			$('#'+id+'FilVar').attr("value", '-'+$('#'+id+'FilVar').attr("value"));
		}
	});
</script>