<tr>
	<td>{{service_title}}</td>
	<td><input type="number" value="1" min="1" max="999" required/></td>
	<td>{{price}}€</td>
	<td align="right">
		<form method="POST" action="?op=reservation">
			<input type="hidden" name="service" value="{{service_id}}" />
			<input type="hidden" name="journey" value="{{journey_id}}" />
			<input type="submit" class="btn btn-default btn-sm" value="[[Supprimer]]"/>
		</form>
	</td>
</tr>