<div class="page-header">
	<h1 class="text-center">[[Mon panier]]<br/></h1>
</div>
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				{{title}}
			</div>
			<div class="panel-body">
				<div class="row hotel">
					<div class="col-sm-1"></div>
					<div class="col-sm-10">
						<table class="table">
							<th>[[Intitulé]]</th><th>[[Quantité]]</th><th>[[Prix]]</th><th style="text-align:center;">[[Action]]</th>
							{{boucle}}
						</table>
						<hr>
						<p style="text-align: right;">[[Total:]] {{total}}€ TTC</p>
						<hr>
						<p style="text-align: center;">[[Sélectionnez votre moyen de paiment]]</p>
						<div class="text-center">
								<a href="#" class="thumbnail">
									<img src="ressources/credit_cards/paypal.png" alt="Erreur de chargement" />
								</a>
								<a class="btn btn-default btn-sm" href="#">[[Procéder au paiement]]</a>
						</div>
						<hr/>
						<p>ATTENTION : Nous ne garantissons la disponiblité des places pour les activités que vous avez payé aux horaires que vous choisissez. Pensez à vérifier auprès de l'organisme les places disponibles. Vous pouvez trouver plus d'informations dans la description des activités</p>
					</div>
				    <div class="col-sm-1"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-2"></div>
</div>