<script type="text/javascript" src="js/lang-all.js"></script>
<script>



function makeExternalsEventsDraggable()
{
	console.log("making externals events draggable");
	$('#placeElementsHere .fc-event').each(function() {
			// store data so the calendar knows to render an event upon drop
			$(this).data('event', {
				title: $.trim($(this).text()), // use the element's text as the event title
				stick: true // maintain when user navigates (see docs on the renderEvent method)
			});

			// make the event draggable using jQuery UI
			$(this).draggable({
				zIndex: 999,
				revert: true,      // will cause the event to go back to its
				revertDuration: 0  //  original position after the drag
			});

			$(this).find('h5').editable('events.php?update=3', {
				indicator : 'Saving...'
			});

		});
}


function loadExternalsEvents()
{
	console.log("loaging externals events");
	$.ajax({
		url: 'events.php?getBagNotInCalendar=1',
		success: function(data) {
			$("#placeElementsHere").html(data);
			makeExternalsEventsDraggable();
		}
	});
}
$(document).ready(function() {

	loadExternalsEvents();


	$('#calendar').fullCalendar({
		lang: '{{lang}}',
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'month,agendaWeek,agendaDay'
		},
		selectable: true,
		defaultDate: '{{dateDeb}}',
		selectHelper: true,
		select: function(start, end) {
			var title = prompt("[[Nom de l'événement]]:");
			var eventData;
			if (title) {
				eventData = {
					title: title,
					id: 0,
					start: $.fullCalendar.moment(start, "yyyy-MM-dd HH:mm:ss").format(),
					end: $.fullCalendar.moment(end, "yyyy-MM-dd HH:mm:ss").format()
				};
				$.ajax({
					url: 'events.php?update=4',
					data: 'title='+ eventData.title+'&start='+ eventData.start +'&end='+ eventData.end,
					type: "POST",
					success: function(result) {
						eventData.id = result;
						$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
						console.log("succès event select");
					}
				});
			}
			$('#calendar').fullCalendar('unselect');
		},
		editable: true,
		droppable: true,
		drop: function(date,event,ui) {
			start = $.fullCalendar.moment(date, "yyyy-MM-dd HH:mm:ss").format();
			end = $.fullCalendar.moment(date, "yyyy-MM-dd HH:mm:ss").add(2,'hours').format();
			$.ajax({
				url: 'events.php?update=1',
				data: 'title='+ $(this).data('title')+'&start='+ start +'&end='+ end +'&id='+ $(this).data('id') ,
				type: "POST",
				success: function(json) {
					$(this).remove();
					loadExternalsEvents();
					console.log("succès event drop");
				}
			});
		},
		eventLimit: true, // allow "more" link when too many events
		events: {
			url: 'events.php?getCalendar=1',
			error: function() {
				$('#script-warning').show();
			}
		},
		loading: function(bool) {
			$('#loading').toggle(bool);
		},
		eventDrop: function(event, delta) {
			start = $.fullCalendar.moment(event.start, "yyyy-MM-dd HH:mm:ss").format();
			end = $.fullCalendar.moment(event.end, "yyyy-MM-dd HH:mm:ss").format();
			$.ajax({
				url: 'events.php?update=2',
				data: 'title='+ event.title+'&start='+ start +'&end='+ end +'&id='+ event.id ,
				type: "POST",
				success: function(json) {
					//alert("OK");
					console.log("succès event eventDrop");
				}
			});
		},
		eventResize: function(event) {
			start = $.fullCalendar.moment(event.start, "yyyy-MM-dd HH:mm:ss").format();
			end = $.fullCalendar.moment(event.end, "yyyy-MM-dd HH:mm:ss").format();
			$.ajax({
				url: 'events.php?update=1',
				data: 'title='+ event.title+'&start='+ start +'&end='+ end +'&id='+ event.id ,
				type: "POST",
				success: function(json) {
					//alert("OK");
					console.log("succès event eventResize");
				}
			});

		},
		eventClick: function(event) {
			noty({
				layout: 'bottomRight',
	            modal       : false,
				text: "Retirer l'événement "+event.title+" de l'emploi du temps ?",
				killer: true,
				buttons: [
					{addClass: 'btn btn-primary', text: '[[Oui]]', onClick: function($noty) {

							// this = button element
							// $noty = $noty element

							$noty.close();
							jQuery.ajax({
								type: 'POST',
								url: 'events.php?update=5',
								data: 'id='+event.id,
								success: function(data){
									console.log("succès event eventClick");
								},
							});
		   				 $('#calendar').fullCalendar('removeEvents', event._id);
		   				 loadExternalsEvents();
						}
					},
					{addClass: 'btn btn-danger', text: '[[Non]]', onClick: function($noty) {
						$noty.close();
					}
				}
				]
			});
	    }, 
	});

});

</script>
<style>

body {
	margin: 0;
	padding: 0;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 14px;
}

#script-warning {
	display: none;
	background: #eee;
	border-bottom: 1px solid #ddd;
	padding: 0 10px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	color: red;
}

#loading {
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
}

.fc-view-container{
	background-color: rgb(235,235,235);
}

#external-events {
	float: left;
	width: 40%;
	padding: 0 10px;
	border: 1px solid #ccc;
	background: #eee;
	text-align: left;
}

#external-events h4 {
	font-size: 16px;
	margin-top: 0;
	padding-top: 1em;
}

#external-events .fc-event {
	margin: 10px 0;
	cursor: pointer;
}

#external-events p {
	margin: 1.5em 0;
	font-size: 11px;
	color: #666;
}

#external-events p input {
	margin: 0;
	vertical-align: middle;
}

#calendar {
	float: right;
	width: 55%;
}
.uniqueActivity form{
	color:black;
	font-size:11px; 
}
.uniqueActivity{
	width:170px;
	display: inline-block;
	vertical-align: top;
}
</style>
<h1>Calendrier</h1>
<p>ATTENTION : Nous ne garantissons la disponiblité des places pour les activités que vous avez payé aux horaires que vous choisissez. Pensez à vérifier auprès de l'organisme les places disponibles. Vous pouvez trouver plus d'informations dans la description des activités</p>

<div id='script-warning'>
	<code>events.php</code> must be running.
</div>

<div id='loading'>loading...</div>

<div id='calendar'></div>

<div id='external-events'>
	<h4>Evenements non programmés</h4>
	<p>Cliquez sur un élément pour le renommer</p>
	<div id='placeElementsHere'>	
		{{reservationsWithoutDate}}
	</div>
</div>