<div class="panel">
	<div class="panel panel-body">
		<div class="row hotels">
			<div class="col-sm-2">
				<a href="#">
					<img src="{{image}}" alt="Error" title="{{image_title}}">
				</a>
			</div>
			<div class="col-sm-7">
				<a href="?op=detail_offre&service_id={{service_id}}" class="media-heading"><h4>{{service_title}}</h4> </a>
				<p class="no-margin inline">
					{{short_description}}
					<div class="collapse" id="desc{{collapse_id}}">
						{{service_description}}
					</div>
				</p>
				
			</div>
			<div class="col-sm-3 prix">

				{{price}}€ {{type}}<!-- type sera à remplacer par  "/nuit" ou "/repas" ou "/chambre" ou par rien. -->

				<span id="serviceIdBag" data-idservice="{{service_id}}" data-title="{{service_title}}"  class="btn btn-default btn-sm ButtonAddToBag">
					[[Ajouter au panier]] <span><img style="position:relative;display:inline-block;width:28px;height:25px;" src="ressources/glyphicons/glyphicons-shopping-cart.png"/></span>
				</span>
				<button class="btn btn-default btn-sm" type="button" data-toggle="collapse" data-target="#desc{{collapse_id}}" aria-expanded="false" aria-controls="desc{{collapse_id}}">
					<span class="glyphicon glyphicon glyphicon-plus"></span> [[Détails]]
				</button>
			</div>
		</div>
	</div>
</div>
