<form method="POST">
	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon glyphicon glyphicon-search"></span>
			<input id="recherche" name="recherche" class="form-control" type="text" placeholder="[[Rechercher]]" aria-describedby="recherche"/>
		</div>
	</div>
	<h4>[[Filtres de recherche]]</h4>
	<div class="form-group">
		<div class="panel panel-default">
			<div class="panel panel-heading no-margin">
				[[Type d'activité]]
			</div>
			<div class="panel panel-body no-margin">	
				<div class="row">
					<div class="col-md-6">
						<input type="checkbox" name="activite" value="parachute" id="parachute"/>
						<label style="font-weight : normal;" for="parachute">[[Saut en parachute]]</label><br/>	
						<input type="checkbox" name="activite" value="parapente" id="parapente"/>
						<label style="font-weight : normal;" for="parapente">[[Parapente]]</label><br/>	
						<input type="checkbox" name="activite" value="motoCross" id="motoCross"/>
						<label style="font-weight : normal;" for="motoCross">[[Moto Cross]]</label><br/>	
					</div>
					<div class="col-md-6">	
						<input type="checkbox" name="activite" value="quad" id="quad"/>
						<label style="font-weight : normal;" for="quad">[[Quad]]</label><br/>	
						<input type="checkbox" name="activite" value="vtt" id="vtt"/>
						<label style="font-weight : normal;" for="vtt">[[VTT]]</label><br/>	
						<input type="checkbox" name="activite" value="photo" id="photo"/>
						<label style="font-weight : normal;" for="photo">[[Photographie]]</label><br/>	
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='form-group'>
		<div class="panel panel-default">
			<div class="panel panel-heading no-margin">
				[[Prix]]
			</div>
			<div class="panel panel-body no-margin">	
				<div class="row text-left">
					<div class="col-md-6">
						<label class="radio-inline">
		  					<input type="radio" name="prix" id="prix1" value="50">[[< 50€]]
						</label>
						<br>
						<label class="radio-inline no-margin">
					  		<input type="radio" name="prix" id="prix3" value="200">[[100-200 €]]
						</label>	
					</div>
					<div class="col-md-6">
						<label class="radio-inline">
						  <input type="radio" name="prix" id="prix2" value="100">[[50-100 €]]
						</label>
						<br>
						<label class="radio-inline no-margin">
						  <input type="radio" name="prix" id="prix4" value="300">[[> 200 €]]
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='form-group'>
		<div class="panel panel-default">
			<div class="panel panel-heading no-margin">
				[[Note]]
			</div>
			<div class="panel panel-body no-margin">	
				<label class="checkbox-inline">
					<input type="checkbox" name="note" id="note1" value="1">1
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" name="note" id="note2" value="2">2
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" name="note" id="note3" value="3">3
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" name="note" id="note4" value="4">4
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" name="note" id="note5" value="1">5
				</label>
			</div>
		</div>
	</div>
</form>