<div class='row text-center'>
	<div class='col-md-4'>
		<a href="?op=step-ski" role="button">
			<div class='btn btn-default'>
				<h2>
					[[Organiser une sortie de ski]]
				</h2>
			</div>
		</a>
	</div>
	<div class='col-md-4'>
		<a href="?op=step-raquette" role="button">
			<div class='btn btn-default'>
				<h2>
					[[Organiser une sortie]]<br>
					[[de raquettes]]
				</h2>
			</div>
		</a>
	</div>
	<div class='col-md-4'>
		<a href="?op=step-recherche-activite" role="button">
			<div class='btn btn-default'>
				<h2>
					[[Rechercher une activité]]
				</h2>
			</div>
		</a>
	</div>
</div>