<div class="page-header">
	<h1 class="text-center">[[Programmez vos vacances]] <br/><small>[[en faisant une pré-sélection]]</small></h1>
</div>
<form method="GET" class="form-horizontal" action="index.php?op=search">
	<input type="hidden" name="op" value="search"> <!-- Nécessaire dans le cas GET, le navigateur écrase les paramètres de 'action' du form -->
	<div class="form-group">		
		<div class="row">
			<div class="col-sm-3" >
				<div class="panel panel-default">
					<div class="panel panel-heading">
						<h3 class="panel-title">[[Période]]</h3>
					</div>
					<div class="panel-body">
						<div class="input-group">
							<label for="PostalCodeStart">[[Code postal du lieu de départ]]</label>
							<input type="number" id="PostalCodeStart" class="form-control" name="PostalCodeStart" min="0" required/>
						</div>
					</div>
					<div class="panel-body">
						<label for="dateStart">[[Date de début]]</label>
						<div class="input-group">
							<input type="text" id="dateStart" class="form-control" name="dateStart" placeholder="[[jj/mm/aaaa]]" value={{dateStart}} required/>
							<span class="input-group-addon glyphicon glyphicon-calendar" id="username"></span>
						</div>
					</div>	
					<div class="panel-body">
						<label for="dateEnd">[[Date de fin]]</label>
						<div class="input-group">
							<input type="text" id="dateEnd" class="form-control" name="dateEnd" placeholder="[[jj/mm/aaaa]]" value={{dateEnd}} required/>
							<span class="input-group-addon glyphicon glyphicon-calendar" id="username"></span>
						</div>
					</div>					
				</div>
			</div>
			<div class="col-sm-3">
				<div class="panel panel-default">
					<div class="panel panel-heading">
						<h3 class="panel-title">[[Hébergement]]</h3>
					</div>
					<div class="panel-body">
						<div class="input-group">
							{{listAccomodation}}
							<input type="radio" name="hebergement" value="0" id="HebNo" checked/>
							<label for="HebNo">[[Pas d'hébergement]]</label><br/>
						</div>
						<div class="input-group">
							<label for="NbAdults">[[Nombre d'adultes]]</label>
							<input type="number" id="NbAdults" class="form-control" name="NbAdults" min="0" max="1000" value="2" required/>
						</div>
						<div class="input-group">
							<label for="NbAdults">[[Nombre d'enfants]]</label>
							<input type="number" id="NbAdults" class="form-control" name="NbEnfants" min="0" max="1000" value="0" required/>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel panel-heading">
						<h3 class="panel-title">[[Activités]]</h3>
					</div>
					<div class="panel-body">
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
							{{listActivities}}
						</div>
						<div class="row">
							<div class="col-md-5"></div>
							<div >
								<input type="checkbox" name="type[]" value="99" id="hasard"/>
								<label for="hasard">[[Au hasard !]]</label><br/>	
							</div>
							<div class="col-md-5"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{inscription}}
	<div class="text-center">
		<button type="submit" class="btn btn-primary" href="?op=search">[[Continuer]]</button>
		<div class="progress">
			<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
			</div>
		</div>
	</div>
</form>


<script>
	$(function() {
		$( "#dateStart" ).datepicker({
			changeMonth: true,
			changeYear: true
		});

		$( "#anim" ).change(function() {
			$( "#dateStart" ).datepicker( "option", "showAnim", $( this ).val() );
		});
	});
	$(function() {
		$( "#dateEnd" ).datepicker({
			changeMonth: true,
			changeYear: true
		});
		$( "#anim" ).change(function() {
			$( "#dateEnd" ).datepicker( "option", "showAnim", $( this ).val() );
		});
	});
</script>