<div class="separation"></div>
<div class="separation"></div>
<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel panel-body">
			{{tplrecherche}}
		</div>
	</div>
</div>
<div class="col-md-8">
	{{tplactivite}}
</div>