<div class="page-header">
	<h1 class="text-center">[[Activitée : Ski]]</h1>
</div>
<form method="POST" class="form-horizontal">
	<div class="form-group">		
		<div class="row">
			<div class="col-sm-7">
				<img style="max-width:100%;max-height:100%;" src="ressources/background/step-ski-bg.jpg" alt="erreur de chargement de l'image" title="Station d'allevard" />
			</div>
			<div class="col-sm-5">
				<div class="panel panel-default">
					<div class="panel panel-heading">
						<h3 class="panel-title">[[Réservation]]</h3>
					</div>
					<div style="padding-top: 15px;padding-bottom:15px;">
						<table>
							<tr><td>[[Séjour]]</td><td width="40%"></td><td align="left" width="40%">26/12/2015 au 28/12/2015</td></tr>
							<tr><td>[[Nombre d'adultes]]</td><td width="40%"></td><td align="left" width="30%">2</td></tr>
							<tr><td>[[nombre d'enfants]]</td><td></td><td align="left" width="30%">2</td></tr>
							<tr><td>[[Séniors]]</td><td></td><td align="left" width="30%">0</td></tr>
							<tr><td>[[Réduction]]</td><td></td><td align="left" width="30%">0€</td></tr>
						</table>
						<br/>[[Tarif considérant les données fournies :]]<br/><br/>
						<table>
							<tr><td>[[Demi journée]]</td><td width="50%"></td><td align="right" width="30%">30€ x 2 + 20€ x 2 = <b>100€/j</b></td></tr>
							<tr><td>[[Journée complète]]</td><td width="50%"></td><td align="right" width="30%">34€ x 2 + 25€ x 2 = <b>118€/j</b></td></tr>
						</table>
					</div>
					<div>
						<h5><b>[[Quel jour désirez vous effectuer cette activité ?]]</b></h5>
						<table>
							<tr>
								<td><label for="j1">[[Samedi 26/12/2015]]</label></td>
								<td width="10%"></td>
								<td><input type="checkbox" id="j1" class="form-control" name="j1" value="[[[Samedi 26/12/2015]]" /></td>
								<td width="10%"></td>
								<td>
									<select name="period_of_day" id="period_of_day" required>
									<option name="demi_journee">[[1/2 Journée]]</option>
									<option name="complet" selected>[[Journée complète]]</option>
									</select>
								</td>
								<td width="5%"></td>
								<td><input type="number" id="heure_debut" name="heure_debut" min="8" max="15" pattern='[0-9]{1,2}' placeholder="Heure de début" style="max-width: 125px;" width="5%" required/></td>
								<td> à </td>
								<td><input type="number" id="heure_debut" name="heure_debut" min="10" max="17" pattern='[0-9]{1,2}' placeholder="Heure de fin" style="max-width: 125px;" required/></td>
							</tr>
							<tr>
								<td><label for="j2">[[Dimanche 27/12/2015]]</label></td>
								<td></td>
								<td><input type="checkbox" id="j2" class="form-control" name="j2" value="[[[Dimanche 27/12/2015]]" /></td>
								<td></td>
								<td>
									<select name="period_of_day2" id="period_of_day2" required>
										<option name="demi_journee2">[[1/2 Journée]]</option>
										<option name="complet2" selected>[[Journée complète]]</option>
									</select>
								</td>
								<td width="5%"></td>
								<td><input type="number" id="heure_debut" name="heure_debut" min="8" max="15" pattern='[0-9]{1,2}' placeholder="Heure de début" style="max-width: 125px;" width="5%" required/></td>
								<td> à </td>
								<td><input type="number" id="heure_debut" name="heure_debut" min="10" max="17" pattern='[0-9]{1,2}' placeholder="Heure de fin" style="max-width: 125px;" required/></td>
							</tr>
							<tr>
								<td><label for="j3">[[Lundi 28/12/2015]]</label></td>
								<td></td>
								<td><input type="checkbox" id="j3" class="form-control" name="j3" value="[[[Lundi 28/12/2015]]" /></td>
								<td></td>
								<td>
									<select name="period_of_day3" id="period_of_day3" required>
									<option name="demi_journee3">[[1/2 Journée]]</option>
									<option name="complet3" selected>[[Journée complète]]</option>
									</select>
								</td>
								<td width="5%"></td>
								<td><input type="number" id="heure_debut" name="heure_debut" min="8" max="15" pattern='[0-9]{1,2}' placeholder="Heure de début" style="max-width: 125px;" width="5%" required/></td>
								<td> à </td>
								<td><input type="number" id="heure_debut" name="heure_debut" min="10" max="17" pattern='[0-9]{1,2}' placeholder="Heure de fin" style="max-width: 125px;" required/></td>
							</tr>
						</table>
						<br/><br/>
						<div style="text-align: center; padding:10px;">
							<button type="submit" class="btn btn-default btn-lg">
								<span class="glyphicon glyphicon glyphicon-ok-sign"></span> [[Suivant]] 
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>