		<form method="POST" action="?op=pro-main" accept-charset="utf8">
			<div class="row">
				{{show_info}}
			</div>
			<div class="separation"></div>
			<div class="row">
				<div class="col-md-6">
					<div class="text-center">
						{{button_infos_edit}}
					</div>
				</div>
				<div class="col-md-6">
					<div class="text-center">
						<a class="btn btn-danger btn-lg" href="#" {{buttonstatus}} disabled>
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						</a>
						<div>[[Supprimer le référencement de l'entreprise]]</div>
					</div>
				</div>
			</div>
		</form>