			<div class="col-md-6">
				<div class="input-group" style="width:100%;">
					  <span class="input-group-addon" id="sizing-addon2" style="width:83px;text-align:right;">[[Nom]]</span>
					  <div class="form-control" >{{companyname}}</div>
				</div>
				<div class="separation"></div>
				<div class="input-group" style="width:100%;">
					  <span class="input-group-addon" id="sizing-addon2" style="width:83px;text-align:right;">[[Mail]]</span>
					  <div class="form-control" >{{companymail}}</div>
				</div>
				<div class="separation"></div>
				<div class="input-group" style="width:100%;">
					  <span class="input-group-addon" id="sizing-addon2" style="width:83px;text-align:right;">[[Tel]]</span>
					  <div class="form-control">{{companyphone}}</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="input-group" style="width:100%;">
					  <span class="input-group-addon" id="sizing-addon2" style="width:83px;text-align:right;">[[Site web]]</span>
					  <div class="form-control">{{companyweb}}</div>
				</div>
				<div class="separation"></div>
				<div class="input-group" style="width:100%;">
					  <span class="input-group-addon" id="sizing-addon2" style="width:83px;text-align:right;">[[Mail Clients]]</span>
					  <div class="form-control">{{companymailcli}}</div>
				</div>
				<div class="separation"></div>
				<div class="input-group" style="width:100%;">
					  <span class="input-group-addon" id="sizing-addon2" style="width:83px;text-align:right;">[[Tel Clients]]</span>
					  <div class="form-control">{{companyphonecli}}</div>
				</div>
			</div>