		<div class="row">
			<div class="col-md-7">
				<div class="row hotels">
					<div class="col-sm-2">
						<img src="{{image}}" alt="Erreur de chargement de l'image" title="{{image_title}}">
					</div>
					<div class="col-sm-7">
						<h4 class="media-heading">{{service_title}}</h4>
						<p class="no-margin">
								{{service_description}}
						</p>
					</div>
					<div class="col-sm-3 prix">
						{{price}}€ {{type}}
						<button id="serviceIdBag" class="btn btn-default btn-sm ButtonAddToBag" disabled>
							<span><img style="position:relative;display:inline-block;width:28px;height:25px;" src="ressources/glyphicons/glyphicons-shopping-cart.png"/></span> [[Ajouter au panier]]
						</button>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<div class="text-center">
					<form method="POST" action="?op=pro-main">
						<input type="hidden" name="button" value="service_edit" />
						<input type="hidden" name="service_id" value="{{service_id}}" />
						<input type="submit" class="btn btn-default btn-md btn-success" value="[[Modifier]]" />
					</form>
					<form method="POST" action="?op=pro-main">
						<input type="hidden" name="button" value="service_remove" />
						<input type="hidden" name="service_id" value="{{service_id}}" />
						<input type="submit" name="service_remove" class="btn btn-default btn-md btn-danger" value="[[Supprimer]]" />
					</form>
				</div>
			</div>
		</div>
		<div class="separation" style="height: 50px;"></div>