			<form method="POST" action="?op=pro-main" accept-charset="utf8">
				<input type="hidden" name="button" value="validate_info"/>
				<div class="col-md-6">
					<div class="input-group" style="width:100%;">
						  <span class="input-group-addon" id="sizing-addon2" style="width:83px;text-align:right;">[[Nom]]</span>
						  <input class="form-control" type="text" name="companyname" value="{{companyname}}" required/>
					</div>
					<div class="separation"></div>
					<div class="input-group" style="width:100%;">
						  <span class="input-group-addon" id="sizing-addon2" style="width:83px;text-align:right;">[[Mail]]</span>
						  <div class="form-control" >{{companymail}} - Adresse mail de votre compte.</div>
					</div>
					<div class="separation"></div>
					<div class="input-group" style="width:100%;">
						  <span class="input-group-addon" id="sizing-addon2" style="width:83px;text-align:right;">[[Tel]]</span>
						  <input class="form-control" type="text" name="companyphone" value="{{companyphone}}" required/>
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group" style="width:100%;">
						  <span class="input-group-addon" id="sizing-addon2" style="width:83px;text-align:right;">[[Site web]]</span>
						  <input class="form-control" type="text" name="companyweb" value="{{companyweb}}" required/>
					</div>
					<div class="separation"></div>
					<div class="input-group" style="width:100%;">
						  <span class="input-group-addon" id="sizing-addon2" style="width:83px;text-align:right;">[[Mail Clients]]</span>
						  <input class="form-control" type="mail" name="companymailcli" value="{{companymailcli}}" required/>
					</div>
					<div class="separation"></div>
					<div class="input-group" style="width:100%;">
						  <span class="input-group-addon" id="sizing-addon2" style="width:83px;text-align:right;">[[Tel Clients]]</span>
						  <input class="form-control" type="text" name="companyphonecli" value="{{companyphonecli}}" required/>
					</div>
				</div>