<div class="separation"></div>
<div class="panel panel-default">
	<div class="panel-heading">[[Informations]]</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-6">
				<div class="input-group" style="width:100%;">
					  <span class="input-group-addon" id="sizing-addon2" style="width:83px;text-align:right;">[[Nom :]]</span>
					  <div class="form-control" >{{userFirstname}}</div>
				</div>
				<div class="separation"></div>
				<div class="input-group" style="width:100%;">
					  <span class="input-group-addon" id="sizing-addon2" style="width:83px;text-align:right;">[[Prénom :]]</span>
					  <div class="form-control">{{userLastName}}</div>
				</div>
				<div class="separation"></div>
			</div>
			<div class="col-md-6">
				<div class="input-group" style="width:100%;">
					  <span class="input-group-addon" id="sizing-addon2" style="width:137px;text-align:right;">[[Objets dans le panier :]]</span>
					  <div class="form-control">{{bagElemCount}}</div>
				</div>
			</div>
		</div>
	</div>	
</div>
<div class="separation"></div>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">[[Projets de vacances]]</div>
			<div class="panel-body">
				<div>
					<div class="row">
						<div class="col-md-6">
							<div class="text-center">
								<a class="btn btn-success btn-lg" href="?op=step1">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								</a>
								<div>[[Commencer un nouveau projet]]</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="text-center">
								<a class="btn btn-info btn-lg" href="#">
									<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
								</a>
								<div>[[Définir un profil de vacances]]</div>
							</div>
						</div>
					</div>
					<div style="padding-top: 40px;"></div>
				</div>
				<div>
					<div class="row"> 
						<div class="col-md-6">
							<div class="text-center">
								<a class="btn btn-info btn-lg" href="#">
									<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
								</a>
								<div>[[Autre]]</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="text-center">
								<a class="btn btn-info btn-lg" href="#">
									<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
								</a>
								<div>[[Autre]]</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">[[Compte]]</div>
			<div class="panel-body">
				<div>
					<div class="row"> 
						<div class="col-md-6">
							<div class="text-center">
								<a class="btn btn-info btn-lg" href="?op=gestion&button=user-edit">
									<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
								</a>
								<div>[[Modifier mon compte]]</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="text-center">
								<a class="btn btn-info btn-lg" href="#">
									<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
								</a>
								<div>[[Autre]]</div>
							</div>
						</div>
					</div>
					<div style="padding-top: 40px;"></div>
				</div>
				<div>
					<div class="row"> 
						<div class="col-md-6">
							<div class="text-center">
								<a class="btn btn-info btn-lg" href="#">
									<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
								</a>
								<div>[[Autre]]</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="text-center">
								<a class="btn btn-info btn-lg" href="#">
									<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
								</a>
								<div>[[Autre]]</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">[[Autres]]</div>
			<div class="panel-body">
				<div>
					<div class="row"> 
						<div class="col-md-6">
							<div class="text-center">
								<a class="btn btn-info btn-lg" href="#">
									<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
								</a>
								<div>[[Autre]]</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="text-center">
								<a class="btn btn-info btn-lg" href="#">
									<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
								</a>
								<div>[[Autre]]</div>
							</div>
						</div>
					</div>
					<div style="padding-top: 40px;"></div>
				</div>
				<div>
					<div class="row"> 
						<div class="col-md-6">
							<div class="text-center">
								<a class="btn btn-info btn-lg" href="#">
									<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
								</a>
								<div>[[Autre]]</div>
								<div></div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="text-center">
								<a class="btn btn-info btn-lg" href="#">
									<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
								</a>
								<div>[[Autre]]</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>