<div class="separation"></div>
<div class="panel panel-default">
	<div class="panel-heading">[[Modification du profil]]</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="text-center">{{notif}}</div>
				<form method="POST" action="?op=gestion">
					<div class="input-group" style="width:100%;">
						  <span class="input-group-addon" id="sizing-addon2" style="width:115px;text-align:right;">[[Nom]]</span>
						  <input class="form-control" type="text" name="lastname" value="{{UserLastname}}" required/>
					</div>
					<div class="separation"></div>
					<div class="input-group" style="width:100%;">
						  <span class="input-group-addon" id="sizing-addon2" style="width:115px;text-align:right;">[[Prénom]]</span>
						  <input class="form-control" type="text" name="firstname" value="{{UserFirstname}}" required/>
					</div>
					<div class="separation"></div>
					<div class="input-group" style="width:100%;">
						  <span class="input-group-addon" id="sizing-addon2" style="width:115px;text-align:right;">[[E-mail]]</span>
						  <input class="form-control" type="text" name="mail" value="{{UserMail}}" placeholder="exemple@gmail.com" required/>
					</div>
					<div class="separation"></div>
					<div class="input-group" style="width:100%;">
						  <span class="input-group-addon" id="sizing-addon2" style="width:115px;text-align:right;">[[Adresse]]</span>
						  <input class="form-control" type="text" name="address" value="{{UserAddress}}" required/>
					</div>
					<div class="separation"></div>
					<div class="input-group" style="width:100%;">
						  <span class="input-group-addon" id="sizing-addon2" style="width:115px;text-align:right;">[[Téléphone]]</span>
						  <input class="form-control" type="text" name="phone" value="{{UserPhone}}" placeholder="Entre 10 et 13 chiffres sans espace" required/>
					</div>
					<div class="separation"></div>
					<div class="input-group" style="width:100%;">
						  <span class="input-group-addon" id="sizing-addon2" style="width:115px;text-align:right;">[[Mot de passe]]</span>
						  <input class="form-control" type="password" name="old_password" placeholder="Ancient mot de passe"/>
					</div>
					<div class="separation"></div>
					<div class="input-group" style="width:100%;">
						  <span class="input-group-addon" id="sizing-addon2" style="width:115px;text-align:right;">[[Mot de passe]]</span>
						  <input class="form-control" type="password" name="new_password" placeholder="Nouveau mot de passe"/>
					</div>
					<div class="separation"></div>
					<div class="input-group" style="width:100%;">
						  <span class="input-group-addon" id="sizing-addon2" style="width:115px;text-align:right;">[[Mot de passe]]</span>
						  <input class="form-control" type="password" name="confirm_new_password" placeholder="Confirmer le mot de passe"/>
					</div>
					<div class="separation"></div>
					<div class="text-center">
						<input class="btn btn-default btn-sm" type="submit" value="[[Enregistrer les modifications]]" />
					</div>
				</form>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>	
</div>