<div class="separation"></div>
<div>{{notifications}}</div>
<div class="separation"></div>
<div class="panel panel-default">
	<div class="panel-heading">Nouveau service</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<form method="POST" action="?op=pro-main" class="form-horizontal" enctype="multipart/form-data">
					<div class="form-group">
						<input type="hidden" name="button" value="service_add_validate"></input>
						<label class="control-label col-sm-3" for="label-name">[[Nom]]</label>
						<div class="col-sm-7">
							<div class="input-group">
								<span class="input-group-addon glyphicon glyphicon-user"></span>
								<input type="text" class="form-control" name="name" id="label-name" value="{{name}}" pattern=".{3,50}" placeholder="Nom de votre service (3-50 caractères)"></input>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="label-desc">[[Description]]</label>
						<div class="col-sm-7">
							<div class="input-group">
								<textarea rows="3" cols="100" class="form-control" name="description" id="label-desc" pattern=".{10,3000}" placeholder="Écrivez une brève description de plus de deux lignes. (10-300 caractères)">{{description}}</textarea>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="label-price">[[Prix]]</label>
						<div class="col-sm-7">
							<div class="input-group">
								<span class="input-group-addon glyphicon glyphicon-euro"></span>
								<input type="number" class="form-control" name="price" id="label-price" value="{{price}}" placeholder="[[Prix du service]]"></input>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="label-type">[[Type]]</label>
						<div class="col-sm-7">
							<div class="input-group">
								<span class="input-group-addon glyphicon bookmark"></span>
								<select class="form-control" name="type" id="label-type">
									{{options_TS}}
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="label-people_min">[[Nombre de personne Min.]]</label>
						<div class="col-sm-7">
							<div class="input-group">
								<span class="input-group-addon glyphicon bookmark"></span>
								<input type="number" class="form-control" name="people_min" id="label-poeple_min" value="{{people_min}}" min="0" max="999"></input>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="label-people_max">[[Nombre de personne Max.]]</label>
						<div class="col-sm-7">
							<div class="input-group">
								<span class="input-group-addon glyphicon bookmark"></span>
								<input type="number" class="form-control" name="people_max" id="label-people_max" value="{{people_max}}" min="0" max="999"></input>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="label-availability">[[Disponibilité]]</label>
						<div class="col-sm-7">
							<div class="input-group">
								<span class="input-group-addon glyphicon bookmark"></span>
								<select class="form-control" id="label-availability" name="availability">
									<option value='1'>Disponible</option>
									<option value='0' selected>Indisponible</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-4"></div>
						<div class="col-sm-3">
							<input type="hidden" name="button" value="service_add_validate">
							<input type="submit" class="btn btn-default btn-md" value="[[Ajouter le service]]">
								<span class="glyphicon glyphicon glyphicon-ok-sign"></span>
							</input>
						</div>
						<div class="col-sm-3">
							<a href="?op=pro-main" class="btn btn-default btn-md">
								<span class="glyphicon glyphicon glyphicon-remove"></span> [[Annuler]] 
							</a>
						</div>
						<div class="col-sm-2"></div>
					</div>
				</form>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
</div>