<div class="separation"></div>
<div>{{notifications}}</div>
<div class="separation"></div>
<div class="panel panel-default">
	<div class="panel-heading">{{title}}</div>
	<div class="panel-body">
		<form method="POST" action="#" class="form-horizontal" enctype="multipart/form-data">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label col-sm-5" for="label-companyname">[[Nom de l'établissement]]</label>
						<div class="input-group">
							<span class="input-group-addon glyphicon glyphicon-user"></span>
							<input type="text" name="companyName" class="form-control input-sm" id="label-companyname" placeholder="[[Nom de l'établissement]]" value="{{name}}" required/></input>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-5" for="label-web">[[Site Web]]</label>
						<div class="input-group">
							<span class="input-group-addon glyphicon glyphicon-phone-alt"></span>
							<input type="text" name="website" class="form-control input-sm" id="label-web" placeholder="http://[[monsite]].fr" value="{{website}}"/></input>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label col-sm-5" for="label-phone">[[Numéro de Tel Pro]]</label>
						<div class="input-group">
							<span class="input-group-addon glyphicon glyphicon-phone-alt"></span>
							<input type="text" name="phonePro" class="form-control input-sm" id="label-phone" placeholder="[[Nous permet de vous contacter]]" value="{{phone_pro}}" required/></input>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-5" for="label-tel-client">[[Numéro de Tel client]]</label>
						<div class="input-group">
							<span class="input-group-addon glyphicon glyphicon-phone-alt"></span>
							<input type="text" name="phoneClient" class="form-control input-sm" id="label-tel-client" placeholder="[[Tél. service client]]" value="{{phone_cli}}" required/></input>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label col-sm-5" for="label-mail-client">[[E-mail pour les client]]</label>
						<div class="input-group">
							<span class="input-group-addon">@</span>
							<input type="text" name="mailClient" class="form-control input-sm" id="label-mail-client" placeholder="[[contact@monservice.com]]" value="{{email_cli}}" required/></input>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-5" for="label-address">[[Adresse exacte]]</label>
						<div class="input-group">
							<span class="input-group-addon glyphicon glyphicon-map-marker"></span>
							<input type="text" name="address" class="form-control input-sm" id="label-address" placeholder="ex: 56 square alain fergent" value="{{address}}" required/></input>
						</div>
					</div>
				</div>
			</div>
			<div>
				<label class="control-label" for="label-descr">[[Description]]</label>
				<div class="input-group">
					<span class="input-group-addon glyphicon glyphicon-pencil"></span>
					<textarea type="text" name="description" class="form-control input-sm" id="label-descr" rows="5" placeholder="[[Description courte. 500 caractères maximum]]">{{description}}</textarea>
				</div>
			</div>
			<div class="separation text-center"/>
			<div class="input-group">
				<input type="file" name="fichier" />
			</div>
			<div class="separation text-center"/>
			<div class="text-center">
				<button type="submit" class="btn btn-primary btn-sm space-submit">
					<span class="glyphicon glyphicon glyphicon-ok"></span> [[Enregistrer mon entreprise]] 
				</button>
			</div>
		</form>
	</div>
</div>