<div class="page-header">
	<div class="separation"></div>
	<div>{{notifications}}</div>
	<div class="separation"></div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">[[Gestion de l'espace professionnel]]</div>
	<div class="panel-body">
		{{form_infos}}
	</div>
</div>
<div class="separation"></div>
<div class="panel panel-default">
	<div class="panel-heading">[[Gestion des services]]</div>
	<div class="panel-body">
		{{for_services}}
		<hr>
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<form action="?op=pro-main" method="POST">
						<input type="hidden" name="button" value="service_add">
						<input type="submit" class="btn btn-success btn-md" value="Ajouter un service"></input>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>