<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading{{catpos}}">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse{{catpos}}" aria-expanded="false" aria-controls="collapse{{catpos}}">
          {{category}}
        </a>
      </h4>
    </div>
    <div id="collapse{{catpos}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{catpos}}">
      	{{listeType}}
    </div>
 </div>
								








								