<div>
	<input type="hidden" name="op" value="search">
	<div class="panel panel-default">
		 <div class="panel-heading">
	  	   <label>[[Recherche avancée]]</label>
	  	   <input class=" btn btn-primary pull-right" type="submit" value="Appliquer"/>
	    </div>
		    <div class="panel-body filter">
		    <div class="row advanced">
			{{filtre}}
			</div>
			<div class="row advanced">
				{{categorie}}
			</div>
			<div class="row advanced">
				{{disponibility}}
			</div>
			<div class="row advanced">
				{{advice}}
			</div>
			<div class="row advanced">
				{{priceInterval}}
			</div>
			<div class="row advanced">
				{{people}}
			</div>
			<div class="row advanced">
				{{owners}}
			</div>
	    </div>
	</div>
</div>