<div class="panel panel-default">
  <div class="panel-heading">
  	<label for="dispo">[[Disponibilité des services]] :</label>
  	<select class="form-control" name="dispo"> 
			<option value="0" {{optionA_dispo}}>[[Tous]]</option>
			<option value="1" {{optionD_dispo}}>[[Disponibles]]</option>
			<option value="2" {{optionI_dispo}}>[[Indisponibles]]</option>
		</select>
  </div>
</div>