<div class="row">
	<div class="col-md-4">
		<div class="row">
			<div class="col-md-8"><label for="nb_offer">[[Nb elem/page :]]</div>
			<div class="col-md-4"><input id="nb_offer" class="form-control" type="number"  size="3" name="nb_offer" min="1" max="50" value="{{nb_offer}}" /></div>
		</div>		
	</div>
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
		<div class="row">
			<div class="col-md-3"><label for="Tri">Tri :</label></div>
			<div class="col-md-7">
				<select class="form-control" id="Tri" name="order">
					<option value="0" selected>Pertinence</option>
					<option value="1">Prix</option>
					<option value="2">Nombre de personnes</option>
					<option value="3">Notation</option>
					<option value="4">Disponibilité</option>
					<option value="6">Entreprises</option>
					<option value="7">Nom des offres</option>
				</select>
			</div>
			<div class="col-md-2">
				<input id="sens" type="hidden" name="sens" value="{{sens}}"/>
				<span class="glyphicon glyphicon glyphicon glyphicon-arrow-{{downUp}} Sens" aria-hidden="true"></span>
			</div>
		</div>
	</div>
	
	
</div>
<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<span class="glyphicon glyphicon glyphicon-backward Page" value="1" aria-hidden="true"></span>
		<span class="glyphicon  glyphicon glyphicon-chevron-left Page" value="2" aria-hidden="true"></span>
		<label>
			<input id="Courant" type="text" size="3" name="currentPage" value="{{currentPage}}"/>
			/{{nb_page}}
		</label>
		<span class="glyphicon glyphicon glyphicon-chevron-right Page" value="3" aria-hidden="true"></span>
		<span class="glyphicon glyphicon glyphicon-forward Page" value="0" aria-hidden="true"></span>
		<br>
		<span class="text-center">{{total}} [[résultat(s) trouvé(s)]]</span>
	</div>
	<div class="col-md-4"></div>
</div>


<script type="text/javascript">
	$(".Page").click( function() {
		var nb = $(this).attr("value");
		if(nb==1) {
			$('#Courant').attr("value",1);
		} else if(nb==0) {
			$('#Courant').attr("value",0);
		} else if(nb==2) {
			$('#Courant').attr("value",parseInt($('#Courant').attr("value"))-1);
		} else {
			$('#Courant').attr("value",parseInt($('#Courant').attr("value"))+1);
		}
		$(this).closest('form').submit();
	});
	$(function() {
		$("#Tri").val({{order}});
	});
	$(".Sens").click( function() {
		if($("#sens").attr("value")==0) {
			$("#sens").attr("value",1);
		} else {
			$("#sens").attr("value",0);
		}
		$(this).toggleClass("glyphicon-arrow-up").toggleClass("glyphicon-arrow-down");
	});
</script>