<div class="panel panel-default">
  <div class="panel-heading">
  	<label>[[Nombre de personnes]]</label>
  </div>
  <div class="panel-body filter">
    <div class="col-md-6">
  		<label for="NbAdults">[[Adultes]] :
    	 <input id="NbAdults" class="form-control" name="NbAdults" min="0" value="{{NbAdults}}" required="" type="number">
       </label>
  	</div>
  	<div class="col-md-6">
  		<label for="NbEnfants">[[Enfants]] :
    	 <input id="NbEnfants" class="form-control" name="NbEnfants" min="0" value="{{NbEnfants}}" required="" type="number">
       </label>
  	</div>
  </div>
</div>