<div class="panel panel-default">
  <div class="panel-heading text-center">
  	<label>[[Prix]] : <span style="color:blue" id="amount"> </span> </label>
    <input id="min" type="hidden" name="price[]" value="{{minChosen}}"/>
    <input id="max" type="hidden" name="price[]" value="{{maxChosen}}"/>
  </div>
  <div class="panel-body">
    <div id="slider-range"></div>
  	</div>
</div>

<script>
$(function() {
  $( "#slider-range" ).slider({
    range: true,
    min: {{minPrice}},
    max: {{maxPrice}},
    values: [ {{minChosen}}, {{maxChosen}} ],
    slide: function( event, ui ) {
      $( "#amount" ).text(ui.values[ 0 ] + "€ -> " + ui.values[ 1 ] + "€");
      $("#min").val(ui.values[ 0 ]);
      $("#max").val(ui.values[ 1 ]);
    }
  });
  $( "#amount" ).text($( "#slider-range" ).slider( "values", 0 ) +
    "€ -> " + $( "#slider-range" ).slider( "values", 1 ) + "€");
});

</script>