<div class="page-header">
	<h1 class="text-center">{{h1}}</h1>
</div>
{{notifJourney}}
{{notif}}

<form method="GET" action="index.php?op=search">
	<div class="row">
		<div class="col-sm-3">
			{{advanced_search}}
		</div>
		<div class="col-sm-9">
			<div class="panel panel-default">
			  <div class="panel-heading text-center">
			  	<div class="row">
			  		<div class="col-md-3">
			  			<a href="#" onclick="$(this).closest('form').submit()">
						  	<span class="glyphicon  glyphicon glyphicon-search" aria-hidden="true"></span>
						  	<label for="formulaire">Affiner votre recherche :</label>
						</a>
			  		</div>
			  		<div class="col-md-7">
			  			<input type="text" class="form-control" value="" size="75" placeholder="Key_word, expression entre '...' (précédés d'un '-' pour les exclure)"  name="request[]" \>
			  		</div>
			  		<div class="col-md-2">
			  			<a href="?op=search">RAZ
				  			<span class="glyphicon  glyphicon glyphicon glyphicon-erase" aria-hidden="true"></span>
				  		</a>
			  		</div>
			  	</div>
			  	
			  </div>
			  <div class="panel-body text-center">
			  	{{pageCourante}}
			  </div>
			</div>
			{{boucle_services}}
		</div><!--
		<div class="col-sm-3">
			<div class="panel panel-default">
				<div class="panel-heading" style="text-align : center;padding : 0px;padding-top:3px;padding-bot:3px">
					<h3>[[Contenu du panier]]</h3>
				</div>
			</div>
			{{boucle_panier}}
		</div>-->
	</div>
</form>
<script type="text/javascript">
	$(".ButtonAddToBag").click(function() {
		var button = $(this);
		var id = $(this).data("idservice");
		var title = $(this).data("title");
		var panier = $("#panier").text();

		noty({
			layout: 'center',
            modal       : true,
			text: '[[Êtes-vous certain de vouloir ajouter cette activité au panier ?]]',
			buttons: [
			{addClass: 'btn btn-primary', text: '[[Oui]]', onClick: function($noty) {

				// this = button element
				// $noty = $noty element

				$noty.close();
				jQuery.ajax({
					type: 'GET',
					url: "events.php?addServiceToBag="+id,
					dataType:'html',
					success: function(data){
						if(data==1)
						{
							noty({layout: 'center',text: title+" [[a bien été ajoutée à votre panier !]]", type: 'success'});
							var panier = $("#panier").html();
							$("#panier").html(parseInt(panier)+1);			
						}else{
							noty({layout: 'center',text: title+" [[existe déjà dans votre panier]]", type: 'error'});
						}
					},
				});
				button.prop("disabled",true);
				button.html("Déjà dans votre panier");
			}
		},
		{addClass: 'btn btn-danger', text: '[[Non]]', onClick: function($noty) {
			$noty.close();
		}
	   }
	  ]
	 });

	});

</script>