<h1 class="text-center">{{type_service_name}}</h1>
<br>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading"><h4>[[Description du type de service]]</h4></div>
					<div class="panel-body">
						<p>{{type_service_description}}</p>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="panel panel-default" >
			<div class="panel-heading"><h3>[[Services associés]]</h3></div>
				<div class="panel-body">
					<ul class="list-group">
						{{service_advices}}
					</ul>
				</div>
			</div>
			<br />
			<p style="text-align: center;"><a class="btn btn-primary" href="{{return}}">Page précédente</a></p>	
		</div>
	</div>
</div>
<br>
