<div id="{{cat}}Main" class="panel panel-default" value="{{chosenCat}}">
  <div class="panel-heading">
    <h>
      <a data-toggle="collapse" href="#{{name_cat}}" aria-expanded="{{state}}" aria-controls="{{name_cat}}">
  	    {{name_cat}}
      </a>
    </h>
    <!--
    {{removeMain}}
    <span id="{{cat}}Center" class="glyphicon glyphicon-minus-sign pull-right minusMain" value="{{cat}}" aria-hidden="true"></span>
    <span id="{{cat}}Left" class="glyphicon glyphicon-plus-sign pull-right plusMain" value="{{cat}}" aria-hidden="true"></span>
    -->
  </div>
  <div class="panel-body filter collapse {{in}}" id="{{name_cat}}">
	<ul class="list-group">
   		{{sous_categorie}}
   	</ul>
  </div>
</div>