<div class="panel panel-default">
  <div class="panel-heading DownUp" data-toggle="collapse" href="#autres" aria-expanded="false" aria-controls="autres">
  	<h>
		[[Autre(s) catégorie(s)]]
  	</h>
  	<span id="arrow" class="glyphicon glyphicon-menu-down pull-right" aria-hidden="false"></span>
  </div>
  <div class="panel-body filter collapse" id="autres">
    {{element_autres_categorie}}
  </div>
</div>

