<div class="panel panel-default">
  <div class="panel-heading">
  	<label>[[Catégories]]</label>
  </div>
  <div class="panel-body filter">
  	<div id="printed">
  	{{categorie}}
  	</div>
    {{autres_categorie}}
  </div>
</div>

<script type="text/javascript">
//$(".removeSub").live('click', function() {
$(".removeSub").click( function(){
	var id = parseInt($(this).attr("value"));
	$("#"+id+"Sub").attr("class", "list-group-item list-group-item-default");
	$("#"+id+"Var").attr("disabled", true);
	$("#"+id+"Right").attr("class", "glyphicon glyphicon-minus-sign pull-right minusSub");
	$("#"+id+"Left").attr("class", "glyphicon glyphicon-plus-sign pull-right plusSub");
});
$(".plusSub").click( function(){
	var id = parseInt($(this).attr("value"));
	$("#"+id+"Sub").attr("class", "list-group-item list-group-item-success");
	$("#"+id+"Var").attr("disabled", false);
	$("#"+id+"Var").attr("value", Math.abs($("#"+id+"Var").attr("value")));
	$("#"+id+"Right").attr("class", "glyphicon glyphicon-remove-sign pull-right removeSub");
	$("#"+id+"Left").attr("class", "glyphicon glyphicon-minus-sign pull-right minusSub");
	if($("#"+parseInt(id/100)+"Main").attr("value")==0) {
		$("#"+parseInt(id/100)+"Main").attr("value",1);
		var save = $("#"+parseInt(id/100)+"Main")[0].outerHTML;
		var index = $("#autres").html().indexOf(save);
		var res = $("#autres").html().substring(0,index-1)+ $("#autres").html().substring(index+save.length);
		$("#autres").html(res);
		$("#printed").html($("#printed").html()+save);
	}
});
$(".minusSub").click( function(){
	var id = parseInt($(this).attr("value"));
	$("#"+id+"Sub").attr("class", "list-group-item list-group-item-danger");
	$("#"+id+"Var").attr("disabled", false);
	$("#"+id+"Var").attr("value", -Math.abs($("#"+id+"Var").attr("value")));
	$("#"+id+"Right").attr("class", "glyphicon glyphicon-remove-sign pull-right removeSub");
	$("#"+id+"Left").attr("class", "glyphicon glyphicon-plus-sign pull-right plusSub");
	if($("#"+parseInt(id/100)+"Main").attr("value")==0) {
		$("#"+parseInt(id/100)+"Main").attr("value",1);
		var save = $("#"+parseInt(id/100)+"Main")[0].outerHTML;
		var index = $("#autres").html().indexOf(save);
		var res = $("#autres").html().substring(0,index-1)+ $("#autres").html().substring(index+save.length);
		$("#autres").html(res);
		$("#printed").html($("#printed").html()+save);
	}
});
</script>