 <li id="{{id}}Sub" class="list-group-item list-group-item-{{name_type}}">
 	<input id="{{id}}Var" type="hidden" name="type[]" value="{{sign}}{{id}}" {{disabled}}/>
 	{{name_sous}}
 	<span id="{{id}}Right" class="glyphicon glyphicon-{{glyphRight}}-sign pull-right {{glyphRight}}Sub" value="{{id}}" aria-hidden="true"></span>
 	<span id="{{id}}Left" class="glyphicon glyphicon-{{glyphLeft}}-sign pull-right {{glyphLeft}}Sub" value="{{id}}" aria-hidden="true"></span>
 	<span class="badge pull-left">{{badge_sous}}</span>
 </li>