<div class="panel panel-default">
  <input id="minAdvice" type="hidden" name="advice[]" value="{{minAdvice}}"/>
  <input id="maxAdvice" type="hidden" name="advice[]" value="{{maxAdvice}}"/>
  <div class="panel-heading text-center">
  	<label>[[Notes]] :</label>
  </div>
  <div class="panel-body filter text-center">
    {{star_advice}}
  </div>
</div>

<script type="text/javascript">
$(".Star").click( function(){
    var position = parseInt($(this).attr('value'));
	var min = 0;
	var max = 0;
	for(var i=1; i<=5; i=i+1) {
		if($("#star"+i).attr('class').indexOf("glyphicon-star-empty")==-1) {
			if(min == 0) {
				min=i;
			}
			max=i;
		}
	}
	if(min==0 && max==0) {
		$(this).toggleClass('glyphicon-star').toggleClass('glyphicon-star-empty');
		min=position;
		max=position;
	} else {
		if(($(this).attr('class')).indexOf("glyphicon-star-empty")!=-1) {
			if(position>max) {
				for(var j=position; j>max; j=j-1) {
					$("#star"+j).toggleClass('glyphicon-star-empty').toggleClass('glyphicon-star');
				}
				max=position;
			} else {
				for(var k=position; k<min; k=k+1) {
					$("#star"+k).toggleClass('glyphicon-star-empty').toggleClass('glyphicon-star');
				}
				min=position;
			}
		} else {
			if(position <= (min+max)/2) {
				do {
					$("#star"+min).toggleClass('glyphicon-star').toggleClass('glyphicon-star-empty');
					min = min+1;
				} while(min<position);
			} else {
				do {
					$("#star"+max).toggleClass('glyphicon-star').toggleClass('glyphicon-star-empty');
					max = max-1;
				} while(max>position);
			}
			if(min>max) {
				min=0;
				max=0;
			}
		}
	}
	$("#minAdvice").val(min-1);
	$("#maxAdvice").val(max-1);
});

</script>