<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>
				<form method="POST">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon glyphicon glyphicon-user" id="username"></span>
							<input id="login" name="login" class="form-control" type="text" placeholder="[[Votre adresse mail]]" aria-describedby="username" required/>
						</div>
						<div class="input-group">
							<span class="input-group-addon glyphicon glyphicon-lock" id="username"></span>
							<input id="pass" name="pass" class="form-control" type="password" placeholder="[[Votre mot de passe]]" required/>
						</div>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-default" value="connection">[[Connexion]]</button>
						<a class="btn btn-default" href="?op=inscription">[[Inscription]]</a>
					</div>
				</form>
<script type="text/javascript">
$( "form" ).submit(function( event ) {
	// A decommenter pour gérer le cryptage
	$("#pass").val(CryptoJS.SHA1($("#pass").val()));
});
</script>