<div style="color:#B8B8B8;">
	<p style="margin-bottom:0px;"><b>{{login}}</b></p>
	<p><span id="panier">{{bagElemCount}}</span> [[réservations dans mon panier]]</p>
</div>
<div style="text-align: left;">
	<form method="POST" style="display: inline-block;">
	<button type="submit" class="btn btn-default btn-sm" name="deconnexion">[[Se déconnecter]]</button>
	</form>
	<a class="btn btn-default btn-sm" style="display: inline-block;" href="?op=reservation">[[Mon Panier]]</a>
	<a class="btn btn-default btn-sm" href="?op=pro-register-company">[[Espace Professionnel]]</a>
</div>

