<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<h1 class="text-center">[[Inscription]]</h1>


		{{erreur}}

		{{formulaire}}
		{{boutonCommencer}}


	</div>
	<div class="col-md-2"></div>
</div>