<h1 class="text-center">{{company_name}}</h1>
<br>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-4">
				<img src="{{company_picture}}" class="img-responsive img-rounded"/>
			</div>
			<div class="col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading"><h4>[[Description de l'entreprise]]</h4></div>
					<div class="panel-body">
						{{company_description}}
					</div>
				</div>
				<br>
				<div class="panel panel-default">
					<div class="panel-heading"><h4>[[Site web de l'entreprise]]</h4></div>
					<div class="panel-body">	
						<a href="{{company_website}}" target="_blank">{{company_website}}</a>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="panel panel-default" >
			<div class="panel-heading"><h3>[[Services associés]]</h3></div>
				<div class="panel-body">
					<ul class="list-group">
						{{service_advices}}
					</ul>
				</div>
			</div>
			<br />
			<p style="text-align: center;"><a class="btn btn-primary" href="{{return}}">Page précédente</a></p>
		</div>
	</div>
</div>
<br>


