<div class="page-header">
<h1 class="text-center">[[Programmez vos vacances à Allevard en quelques clics !]]</h1>
</div>

<video class="video-center" controls src="temp.mp4" ></video>
<div class="text-center">
	<a class="btn btn-primary btn-lg" href="?op={{destination}}">[[Commencer !]]</a>
</div>