				<div class="panel panel-heading">
					{{nomSejour}}
				</div>
				<div class="row">
						<div class="col-md-6">
							<label class="control-label col-sm-3">[[Du : ]] </label>
							<p>{{dateDeb}}</p>
						</div>
						<div class="col-md-6">
							<label class="control-label col-sm-3">[[Au : ]] </label>
							<p>{{dateFin}}</p>
						</div>
				</div>
				<div class="row">
						<div class="col-md-6">
							<label class="control-label col-sm-3">[[Lieu : ]] </label>
							<p>{{lieu}}</p>
						</div>
						<div class="col-md-6">
							<label class="control-label col-sm-4">[[Participants : ]] </label>
							<p>{{nbPart}}</p>
						</div>
				</div>
				<div class="panel panel-footer">
					<div class="row">
						<div class="col-md-6">
							<a class="btn btn-default" href="?op=recap&date={{dateDeb}}" role="button"> [[Voir mon projet]] </a>
						</div>
						<div class="col-md-6">
							<a class="btn btn-default" href='?op=mes_projets&action=suppr&id={{idSejour}}' role="button"> [[Supprimer mon projet]] </a>
						</div>
				</div>
