<div class="page-header">
	<h1 class="text-center">[[Mes Projets]]</h1>
</div>
<form method="POST" class="form-horizontal">
	<div class="form-group">		
		<div class="row">
			<div class="col-md-1">
			</div>
			<div class="col-md-10">
				<div class="panel panel-default text-center">
					{{boucle}}
				</div>
			</div>
			<div class="col-md-1">
			</div>
		</div>
	</div>
</form>
