<!DOCTYPE html>
<html lang="{{lang}}">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{titre}}</title>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen" />
		<link rel="stylesheet" type="text/css" href="css/styles.css" />
		<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.print.css" media='print' >
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.css">
		<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.js"></script>
		<script src="lib/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
		<script src="js/jquery.jeditable.mini.js"></script>
		<script src="js/main.js"></script>
	</head> 
	<body>
		<div class="bg"></div>
		<header class="hidden-xs">
			<div class="locales">
				<a href="?op={{url}}&lang=en_US"><img src="ressources/flags/UnitedKingdom.png" title="English"/></a>
				<a href="?op={{url}}&lang=fr_FR"><img src="ressources/flags/France.png" title="Français"/></a>
				<a href="?op={{url}}&lang=zh_CN"><img src="ressources/flags/China.png" title="Chineese"/></a>
			</div>
			<a href="?op=accueil"><img src="ressources/logo.png" class="logo" /></a>
			<a href="?op=accueil"><h1>Alp'Agenda</h1></a>
			<section id="user">
				{{user}}
			</section>
		</header>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-navbar-collapse">
					<ul class="nav nav-pills nav-justified">
						<li class="active">
							<a href="?op=accueil">[[Accueil]]</a>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href="#">
								[[Services]] <span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="?op=recap" >[[Récapitulatif]]</a>
								</li>
								<li>
									<a href="?op=gestion">[[Gestion]]</a>
								</li>
								<li>
									<a href="?op=search">[[Outil de recherche]]</a>
								</li>
								<li>
									<a href="?op=mes_projets">[[Mes projets]]</a>
								</li>
								<li>
									<a href="?op=step1">[[Programmer mes vacances]]</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="?op=region">[[La Région]]</a>
						</li>
						<li>
							<a href="?op=contact">[[Nous contacter]]</a>
						</li>
						<li class="hidden-sm hidden-md hidden-lg">
							<a href="#">[[Connection / Inscription]]</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10 content">
					<section id="content">
						{{content}}
					</section>
				</div>
				<div class="col-md-1"></div>
			</div>
		</div>
	</body>
</html>