<form>
	<label>Note</label> :
	<select id="mark" name="mark" size="1">
		<option>0</option>
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option selected>5</option>
	</select>
	<b>/5</b>
	<br/>
	<label>Critique</label> :
	<textarea id="critical" name="critical"></textarea>
	<br/>
</form>
<button class="ButtonAddAdvice"> Envoyer </button>