<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
	<div id="offre" class="text-center" data-id="{{id_service}}" ><h2>[[Réserver]] {{type_service_name}} : <em>{{service_name}}</em></h2></div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel panel-body">
					<div class="col-md-3">
						<img class="img-responsive img-rounded" src="{{company_picture}}"</img>
					</div>
					
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel panel-heading">
								[[Description]]
							</div>
							<div class="panel panel-body">							
								<h4>{{type_service_name}} : </h4>
								<p><em>{{service_description}}</em></p>
								<p><a class="btn btn-primary" href="?op=detail_type_service&type_service_id={{service_type_service}}" >Autres services de type {{type_service_name}}</a></p>
								<h4>[[L'entreprise]] : </h4>
								<p><em>{{company_description}}</em></p>
								<p><a class= "btn btn-primary" href="?op=detail_company&company_id={{company_id}}" >Informations sur l'entreprise</a></p>
							</div>				
						</div>
					</div>

					<div class="col-md-3">
						<div class="panel panel-default">
							<div class="panel panel-body no-padding text-center">
								<h3 class="prix">{{service_price}} €</h3>
								<h4>{{service_availability}}</h4>
								<button class="btn btn-default btn-block ButtonAddToBag" data-idservice="{{id_service}}" data-title="{{service_name}}">[[Ajouter au panier]] <span><img style="position:relative;display:inline-block;width:28px;height:25px;" src="ressources/glyphicons/glyphicons-shopping-cart.png"/></span></button>	
							</div>
					</div>
				</div>	
			</div>
			<br/>
				<div style="padding-left : 30px;padding-right : 30px;">
					<div class="panel panel-default" >
						<div class="panel panel-heading"><h3>[[Commentaires]]</h3></div>
							
							<ul id="comments" class="list-group">
								
								{{service_advices}}
								
							</ul>
							<div class="list-group-item">
									<h4>[[Ajouter un commentaire]]</h4>
									{{add_advice}}
							</div>
					</div>
				</div>
				<br />
			</div>
				<br />
				<p style="text-align: center;"><a class="btn btn-primary" href="{{return}}">Page précédente</a></p>
		</div>
		
</div>

<script type="text/javascript">


	$(".ButtonAddAdvice").click(function() {
		var button = $(this);
		var id = $("#offre").data("id");
		var critical = $("#critical").val();
		var mark = $("#mark").val();
		var comments = $("#comments").html();
		if(critical==0) {
			var critical = "Sans commentaire."
		}
		noty({
			layout: 'center',
            modal       : true,
			text: '[[Êtes-vous certain de vouloir soumettre ce commentaire ?]]',
			buttons: [
				{
					addClass: 'btn btn-primary', text: '[[Oui]]', onClick: function($noty) {

						// this = button element
						// $noty = $noty element

						$noty.close();
						jQuery.ajax({
							type: 'GET',
							url: ("events.php?addAdvice="+id+"&critical="+critical+"&mark="+mark),
							dataType:'html',
							success: function(data){
								if(data==0)
								{
									noty({layout: 'center',text: "[[Echec lors de la soumission de votre commentaire.]]", type: 'error'});

								}else{
									noty({layout: 'center',text: "[[Commentaire ajouté]]", type: 'success'});
									$("#comments").html(comments+data);
									$("#critical").val("");
									$("#mark").val(5);
								}
							},
						});
					}
				},
				{
					addClass: 'btn btn-danger', text: '[[Non]]', onClick: function($noty) {
					$noty.close();
					}
				}
			]
		});
	});
	$(".ButtonAddToBag").click(function() {
		var button = $(this);
		var id = $(this).data("idservice");
		var title = $(this).data("title");
		var panier = $("#panier").text();

		noty({
			layout: 'center',
            modal       : true,
			text: '[[Êtes-vous certain de vouloir ajouter cette activité au panier ?]]',
			buttons: [
			{addClass: 'btn btn-primary', text: '[[Oui]]', onClick: function($noty) {

				// this = button element
				// $noty = $noty element

				$noty.close();
				jQuery.ajax({
					type: 'GET',
					url: "events.php?addServiceToBag="+id,
					dataType:'html',
					success: function(data){
						if(data==1)
						{
							noty({layout: 'center',text: title+" [[a bien été ajoutée à votre panier !]]", type: 'success'});
							var panier = $("#panier").html();
							$("#panier").html(parseInt(panier)+1);			
						}else{
							noty({layout: 'center',text: title+" [[existe déjà dans votre panier]]", type: 'error'});
						}
					},
				});
				button.prop("disabled",true);
				button.html("Déjà dans votre panier");
			}
		},
		{addClass: 'btn btn-danger', text: '[[Non]]', onClick: function($noty) {
			$noty.close();
		}
	   }
	  ]
	 });

	});

</script>